
/* DEBUG */

/* .box,
[class*='col'] {
    min-height: 80px;
    min-width: 100px;
    line-height: 80px;
    border: 2px dashed red;
} */

img {
    max-width: 100%;
}

/* .bordered {
    border: 2px dashed red;
} */

/* .container,
.bordered-2 {
    border: 2px dashed blue;
} */

/* HEADER */

/* #header {
    background-color: #6395ad;
    color: white;
    min-height: 100px;
}

.height-header {
    height: 100px;
    align-items: center;
    font-size: 25px;
} */

.navbar {
    min-height: 100px;
}


/* JUMBOTRON */

#jumbotron {
    background-color: #1abc9c;
    color: white;
}

#jumbotron img {
    height: 250px;
}

#jumbotron .font-size {
    font-size: 20px;
}

/* MAIN */
#about {
    background-color: #1abc9c;
    color: white;
}

#about p {
    line-height: 40px;
}

#about button {
    background-color: #1abc9c;
    color: white;
    line-height: initial;
    padding: 15px 20px;
    border-radius: 15px;
}

.send {
    line-height: initial;
    padding: 10px 15px;
    background-color: green;
    border-radius: 10px;
}

/* FOOTER */

#top-footer {
    background-color: #6395ad;
}

#bottom-footer {
    background-color: #0e2732;
}

.fa-brands {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
}

#footer p {
    line-height: 40px;
}