
/* DEBUG */

.box,
[class*='col'] {
    min-height: 80px;
    min-width: 100px;
    line-height: 80px;
    border: 2px dashed red;
}

img {
    width: 100%;
}

.bordered {
    border: 2px dashed red;
}

.container,
.bordered-2 {
    border: 2px dashed blue;
}

/* HEADER */

#header {
    background-color: #6395ad;
    color: white;
}



/* JUMBOTRON */

#jumbotron {
    background-color: #1abc9c;
    color: white;
}

#jumbotron img {
    height: 250px;
}

/* MAIN */
#about {
    background-color: #1abc9c;
    color: white;
}

#about p {
    line-height: 40px;
}

/* FOOTER */

#top-footer {
    background-color: #6395ad;
}

#bottom-footer {
    background-color: #0e2732;
}